h4 {
    font-family: "Raleway";
}
.tags :active{
    border-radius: 10px;
}
.tags :hover{
    background-color:#666;
}

.tech-tag {
    background: #424242;
    border-radius: 10px;
    border-color: transparent;
    font-family: "Raleway";
    font-size: .85rem;
}
.tech-tag  :hover {
    background-color:#666;
}

button :active :hover :focus{
    border-radius: 10px;
    background-color:#666;
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}

.tags :hover :active :focus{
    border-radius: 10px;
    background-color:#666;
}
