.head-main {
  width: 100%;
  position: sticky;
  z-index: 1;
  top: 0;
  display: flex;
  flex-direction: column;
}

.head-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-bar {
  border-right: 2px solid #bbb;
  border-left: 2px solid #bbb;
}


.bottom-bar {
  width: 100%;
  background: #424242;
  display: none;
  flex-direction: row;
  justify-content: space-around;
}
.mobile-pages-main {
  width: 100%;
  background: white;
  display: none;
}

/**/

.head-logo{
  max-width: 480px;
  text-align: center;
  margin: 60px auto;
  font-family: inherit;
  font-size: 1.75rem;
  color: #fff;
}
.head-logo:after{
content: '|';
margin-left: 5px;
opacity: 1;
animation: pisca .7s infinite;
}
/* Animação aplicada ao content referente a classe *.titulo-principal* resultando num efeito de cursor piscando. */

@keyframes pisca{
  0%, 100%{
      opacity: 1;
  }
  50%{
      opacity: 0;
  }
}

/**/

small {
    font-family: "Raleway";
}

.mobile-bio-main {
  background: white;
  display: none;
}



@media only screen and (max-width: 850px) {
  .bottom-bar{display: flex;}
  .social-links{display: none;}
  .mobile-pages-main{display: block;}
  .mobile-bio-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}